About the job
We are looking for FULL STACK JAVA DEVELOPERS for our international scaled banking projects.




ABOUT US


Kartezya Technology is a result-ortiented technology company with strong global impact. We combine 15 years of software development experience with technology expertise and proven methods to ensure modern solutions to our customers across multiple industries internationally.




JOB REQUIREMENTS


We are looking for a team member who will be involved in our global projects with their software knowledge to join our software teams.


The ideal candidate for this role should have high motivation and extensive knowledge in Full Stack Development along with a deep understanding of related frameworks such as Spring & Spring Boot and React.js library. The project is being driven remotely.






Requirements :
Bachelor's Degree in Computer Science or a related technical field
Hands-on experience with Java ( Spring/Spring Boot, Hibernate ) technologies
Hands-on experience or knowledge with React.js ( + HTML, CSS, JavaScript )
Familiarity and knowledge of Microservice architecture
High motivation and eagerness to learn and grow on the job
Positive approach and the ability to work well as a part of the team
Ability to think creatively and work collaboratively in a highly motivated team
Ability to clearly communicate with peers, Business Analysts and Subject Matter Experts




Follow our company page on LinkedIn !